body { font-family:arial; font-size:9pt; }
.actionbar { border:0px solid #ccc; background:url('resources/bg-dash-buttons.png') no-repeat 50% 0; padding:0; height:34px; }
.btn { background-color:#666; color:#fff; padding:3px 5px; display:inline-block; cursor:pointer; }

.leaderboard { margin:0; padding:0; list-style:none; width:140px; }
.leaderboard li { height:33px; font-size:8pt; }

.game-layer { width:600px; height:600px; position:absolute; }
.layer-dash { width:600px; height:21px;  position:absolute; border:0px solid #f72; }

#game-div { width:600px; height:600px; margin:0px; position:relative; float:left; }
#canvas-10 { background:url('resources/Suelo.png') no-repeat 50% bottom; } 

#bg-espacio   { background:url('resources/Cielo.png') no-repeat 50% bottom; } 
#bg-suelo     { background:url('resources/Suelo.png') no-repeat 50% bottom; } 
#bg-estrellas { background:url('resources/Estrellas.png') no-repeat 50% bottom; } 
#bg-aurora    { background:url('resources/Aurora.png') no-repeat 50% bottom; } 
#bg-nubes     { background:url('resources/Nubes.png') no-repeat 50% bottom; } 
#bg-planeta   { background:url('resources/Planeta.png') no-repeat 50% bottom; } 
#bg-dashboard { background:url('resources/dash.png') no-repeat 50% 0; } 
#bg-dash-botm { background:url('resources/dash-bottom.png') no-repeat 50% bottom; width:600px; height:600px; position:absolute; } 

#dash-buttons { display:inline-block; float:right; position:relative; }

#btn-nw { cursor:pointer; width:101px; height:31px; display:inline-block; background:url('resources/btn-nextWave.png') no-repeat; }
#btn-nw:hover { background:url('resources/btn-nextWave-over.png') no-repeat; }

.dash-powerup { display:inline-block; width:50px; height:34px; background:url('resources/powerup.png') no-repeat; cursor:pointer; position:absolute; }
.dash-powerup.clusterbomb     { background:url('resources/powerup-clusterbomb-off.png') no-repeat; left:185px; }
.dash-powerup.clusterbomb.on  { background:url('resources/powerup-clusterbomb.png') no-repeat; }
.dash-powerup.explosionsx4    { background:url('resources/powerup-explosionsx4-off.png') no-repeat; left:360px; }
.dash-powerup.explosionsx4.on { background:url('resources/powerup-explosionsx4.png') no-repeat; }