body { font-family:arial; font-size:9pt; }
.actionbar { border:1px solid #ccc; background-color:#eee; padding:5px 10px; }
.btn { background-color:#666; color:#fff; padding:3px 5px; display:inline-block; cursor:pointer; }